<a href="https://colab.research.google.com/github/nghoanglong/IS403.M22.HTCL/blob/main/LAB_01/LAB_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [30]:
df = pd.read_excel('/content/drive/MyDrive/Datasets/Data Science Research/IS403/1. GDP binh quan cua VN.xlsx')

In [31]:
df = df.T

In [32]:
df.reset_index(inplace = True)

In [33]:
df = df.iloc[:, 2:4]

In [34]:
df.columns = df.iloc[0]
df = df[1:]

In [36]:
df

0      NÄƒm GDP (USD)
1   2000.0     302.0
2   2001.0     315.0
3   2002.0     340.0
4   2003.0     389.0
5   2004.0     453.0
6   2005.0     537.0
7   2006.0     624.0
8   2007.0     730.0
9   2008.0    1065.0
10  2009.0    1132.0
11  2010.0    1234.0
12  2011.0    1443.0
13  2012.0    1655.0
14  2013.0    1811.0
15  2014.0    1916.0
16  2015.0    2109.0
17  2016.0    2215.0